name: Docker Image CI

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Get branch name
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: sogemoge/4-a7:${{ env.SHORT_SHA }}, sogemoge/4-a7:latest
          context: .
      - name: Hacker attack
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rlgoDzvc -i"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}
          SCRIPT_BEFORE: ls
          SCRIPT_AFTER: |
            cd ${{ secrets.REMOTE_TARGET }}
            git checkout master && git stash && git fetch -all && git reset --hard origin/master
            git submodule update --recursive --remote
            export IMAGE_4A7=$(git log -n 1 --pretty=format:"%H" | cut -c1-8)
            sed -i -e "s/latest/${IMAGE_4A7}/g" deploy/docker-compose.yml
            systemctl restart xwsbot.service
