name: Docker Image CI maintenance

on:
  push:
    branches-ignore:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Get branch name
        run: echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: sogemoge/4-a7-maintenance:${{ env.BRANCH_NAME }}, sogemoge/4-a7-maintenance:latest
          context: .
      - name: Hacker attack
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rlgoDzvc -i"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_MAINTENANCE_TARGET }}
          SCRIPT_BEFORE: ls
          SCRIPT_AFTER: |
            cd ${{ secrets.REMOTE_MAINTENANCE_TARGET }}
            git fetch
            git checkout ${{ env.BRANCH_NAME }}
            git pull
            git submodule update --recursive --remote
            systemctl restart xwsbot.maintenance.service
