name: Manual maintenance override

on: workflow_dispatch

jobs:
  reboot:
    runs-on: ubuntu-latest
    steps:
      - name: Contingency protocol
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rlgoDzvc -i"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}
          SCRIPT_BEFORE: ls
          SCRIPT_AFTER: |
            cd ${{ secrets.REMOTE_MAINTENANCE_TARGET }}
            git submodule update --recursive --remote
            systemctl restart xwsbot.service